# Ignore everything
*

# But do not ignore the .gitignore file itself
!.gitignore

# If you need to keep other files/folders (like README.md, LICENSE, etc.), add them like this:
!README.md
!LICENSE

# Keep specific files and directories (adjust as needed)
!.vscode/extensions.json
